////////////////////////////////////////
//                                    //
//               BLOG                 //
//                                    //
////////////////////////////////////////

.blog-list
    margin-top: 30px
    margin-bottom: 100px
    background-color: #f9f9f9
    .search-info
        margin-bottom: 50px
        margin-top: -10px
    .not-found
        margin-bottom: 250px
        margin-top: 50px
        text-align: center
        .all
            color: $main-color
    .blog-item
        background-color: #ffff
        margin-bottom: 80px
        @include transition(0.2s)
        position: relative
        img
            opacity: 1
        .inner
            min-height: 220px
            position: relative
            .image
                float: left
                img
                    max-width: 100%
            h3,p
                color: #383838
            h3
                margin-top: 5px
            p
                font-size: 1rem
                overflow: hidden
                text-overflow: ellipsis
                padding-bottom: 25px

            @include transition(0.2s)
        .top
            position: absolute
            right: 11px
            top: -25px
        .bottom
            position: absolute
            bottom: 4px
            right: 11px



@media (max-width: 991px)
    .blog-list 
        h1
            display: none
        .blog-item 
            .inner
                p
                    font-size: .9rem
                .date
                    bottom: 4px
                    right: 20px
                .search
                    bottom: 4px
            .image img
                max-width: 240px
            .bottom
                position: relative
                top: auto
                right: auto
                padding: 0 12px
                margin-top: 10px


@media (max-width: 768px)
    .blog-list 
        .blog-item 
            .image 
                @include flex-center
                img
                    width: 768px
                    max-width: 100%
            .bottom
                margin: 0

@media (max-width: 768px) and (min-width: 330px)
    .blog-list 
        .blog-item
            .image 
                max-height: 250px
                overflow: hidden
                img
                    max-width: 100%

@media (max-width: 500px)
    .blog-list 
        .blog-item
            margin-bottom: 60px
            .inner
                min-height: 0
                p
                    white-space: nowrap
                    overflow: hidden !important
                    text-overflow: ellipsis
                    margin-bottom: 20px
                .date,.search
                    position: relative
                    bottom: 0
                    left: 0
                .date
                    margin-top: 10px
                    border-bottom: 1px solid #ccc

@media (max-width: 1200px) and (min-width: 991px)
    .blog-list .blog-item .inner
        min-height: 192px
        p
            font-size: 0.8rem
        
@media (max-width: 991px) and (min-width: 768px)
    .blog-list .blog-item .inner
        min-height: 240px

@media (max-width: 350px)
    .blog-list .inner p
        display: none



.blog-article
    position: relative
    margin-bottom: 150px
    padding-top: 50px
    .inner
        .image 
            img
                &:hover
                    cursor: pointer
        .content
            h2
                margin-top: 0
        p
            text-align: justify
            // padding-bottom: 50px
        .search
            margin-top: 5px
            .category
                margin-bottom: 20px

        .date
            margin-top: 5px


@media (max-width: 1200px) and (min-width: 580px)
    .blog-article .inner 
        .search
            right: 20px

@media (max-width: 580px)
    .blog-article
        .inner
            h2
                font-size: 2.8rem
            .image
                float: none
                margin: 0
                margin-bottom: 20px
                margin-top: 20px
                img
                    width: 100%
            .search 
                bottom: -20px
                left: 10px

.modal-image-view
    .modal-body
        padding: 0
    .close-modal
        position: absolute
        right: -40px
        top: 6px
        font-size: 3rem
        z-index: 9988
        color: #fff
        @transition (0.2s)
        &:hover
            cursor: pointer
            color: #ccc


@media (max-width: 1200px)
    .blog-article
        p
        .search
            padding: 5px

@media (max-width: 991px)
    .blog-article
        padding: 30px
        padding-top: 0
        h1
            display: none
        .image
            .date
                position: relative
                top: 15px
            .search
                margin-top: 20px
                padding: 0


.search-input
    hr
        margin-top: 20px
    input
        width: 70%
        float: left
        margin-right: 5px
        border-radius: 0
    button
        color: #000
        border-radius: 0

// FIlters Desktop
@media (min-width: 768px)
    .blog-filters-desktop
        padding: 15px
        background-color: rgba(#f9f9f9,0.42)
        span.badge
            padding: 2px 6px
            margin-top: -2px
    
@media (max-width: 991px)
	.blog-filters-desktop
		display: none


// FIlters Mobile
.blog-filters-mobile
	display: none

@media (max-width: 991px)
	.blog-filters-mobile
		display: block
		position: relative
		padding: 0
		margin-top: 20px
		h2
			color: #383838
		.inner-main
			position: relative
			height: 40px
			padding-left: 15px
			.title
				font-family: $font2
				font-size: 1.5rem
				font-weight: 600
				color: $main-color
			.filterMobileBtn
				color: #383838
				background-color: transparent
				position: absolute
				right: 0
				top: 2px
				border-radius: 0
				padding: 5px 26px 0
				margin-right: 20px
				margin-bottom: 10px
				font-weight: 400
				font-size: 1.3rem
				border: 1px solid #ccc
				border-radius: 50px
				&:hover
					color: #383838
					background-color: #ccc

@media (max-width: 768px)
    .blog-filters-mobile
        margin-top: 94px
        
